nav, footer {
    background-color: black;
    color: white;
}
nav a {
    color: white;
}
.nav-toggler {
    background-color: white;
}

footer {
    margin-top: 40px;
}

/* html { 
    background: url(../images/backgroud.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

#bg {
    background-image: url(../images/backgroud.jpg);
    background-color: grey;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    padding: 20px;
    /* top: 80px; */
}

.form-container {
    margin-top: 50px;
    /* top: 60px; */
    margin-bottom: 40px;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 5.5em;
    color: white;
}

@media screen and (max-height:620px) {
    html, body {
        height:0%;
        display: flex;
        flex-direction: column;
    }
}